.columns
	padding: 0 2rem
	width: auto
	box-sizing: border-box
	white-space: nowrap
	text-align: center

.column
	vertical-align: top
	display: inline-block
	width: 25rem
	
	&:not(:first-child)
		margin-left: 2rem

.add-column
	display: inline-block
	margin-left: 2rem
	width: 2.5rem
	opacity: 0.5;
	border-bottom-left-radius: 0.5rem
	border-bottom-right-radius: 0.5rem
	background: #ccc
	line-height: 2.5rem
	height: 2.5rem
	min-width: 2.5rem
	text-align: center
	font-size: 1.2rem
	color: #000
	cursor: pointer
	user-select: none
	
	&:hover
		opacity: 1
