column-box()
	border: 1px solid #ccc
	background: #f1f1f1
	padding: 0.5rem

:global	
	form button+button
		margin-left: 0.3rem
		
	#custom-modal
		display: flex
		justify-content: center
		align-items: center
		background: rgba(0, 0, 0, 0.8)
		position: fixed
		right: 0
		bottom: 0
		left: 0
		top: 0
		
		&:empty
			display: none
			
	.heading
		color: #959595
		text-transform: uppercase
		font-size: 0.9rem
		font-weight: bold
		text-align: center
		padding: 0.1rem 0 0.5rem 0
	
	.control-label
		text-align: center !important
	
	.unselectable
		-webkit-user-select: none
		user-select: none
		cursor: default