column-box()
	border: 1px solid #ccc
	background: #f1f1f1
	padding: 0.5rem

:global
	html, body
		min-height: 100%

	html
		font-size: 100%

	body
		background: url('../assets/brickwall.png') repeat
		
	main
		min-height: 1000px
		
	header
		height: 8rem
		background: url('../assets/noisy_net.png') repeat
		.title
			text-align: center
			color: white
			text-shadow: 0 0 10px white
			font-size: 2.5rem
			line-height: 8rem
		
	footer
		padding: 0.5rem 0
		text-align: center
		color: #999
		font-size: 0.5rem
		
	nav
		position: absolute
		bottom: -2.5rem
		right: -3rem
		text-align: center
		
		ul
			list-style: none
			margin: 0
			padding: 0
		
		li
			opacity: 0.5
			border-bottom-left-radius: 0.5rem
			border-bottom-right-radius: 0.5rem
			background: #ccc
			line-height: 2.5rem
			height: 2.5rem
			min-width: 2.5rem
			text-align: center
			font-size: 1.2rem
			color: black
			cursor: pointer
			user-select: none
			
		li:hover
			opacity: 1
	
	.preloader
		display: block
		margin: 4rem auto
		
	.inner
		min-width: 80rem
		position: relative
	
	form button+button
		margin-left: 0.3rem
		
	.center
		text-align: center
		
	#custom-modal
		display: flex
		justify-content: center
		align-items: center
		background: rgba(0, 0, 0, 0.8)
		position: fixed
		right: 0
		bottom: 0
		left: 0
		top: 0
		
		&:empty
			display: none
			
	.heading
		color: #959595
		text-transform: uppercase
		font-size: 0.9rem
		font-weight: bold
		text-align: center
		padding: 0.1rem 0 0.5rem 0
	
	.control-label
		text-align: center !important
	
	.unselectable
		-webkit-user-select: none
		user-select: none
		cursor: default
		
	@media only screen and (min-device-pixel-ratio: 1.5)
		body
			background-image: url('../assets/brickwall_@2X.png')
			
		header
			background-image: url('../assets/noisy_net_@2X.png')