.serie
	margin-top: 1rem
	background: white
	padding: 1rem
	border: 1px solid #ccc
	border-top-left-radius: 50% 8rem
	border-top-right-radius: 50% 8rem
	
	&:global(.row)
		margin-left: 0
		margin-right: 0

	.serie-head
		text-align: center
		height: 4rem
		font-size: 2rem
		
	.serie-top
		padding-left: 5rem
		font-weight: bold