.serie
	margin-top: 1rem
	background: white
	padding: 1rem
	border: 1px solid #ccc
	border-top-left-radius: 50% 8rem
	border-top-right-radius: 50% 8rem
	
	&:global(.row)
		margin-left: 0
		margin-right: 0

	.serie-head
		text-align: center
		height: 4rem
		font-size: 2rem
		
	.serie-top
		font-weight: bold
		text-align: center
		
	.top-table
		margin: 0 auto !important
		width: 88%
		margin: 0
		text-align: center
		td
			width: 50%